@import "tailwindcss";

@theme {
  --color-brand-blue: #38B6FF;
}

@keyframes moveWave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  @apply bg-slate-50 text-slate-800;
}
